<div class="container">
  <h1>New Product</h1>
  <h5>
    <a routerLink="/products"> {{ "<" }} Products List</a>
  </h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-row">
      <div class="form-group col">
        <label for="title">Title</label>
        <div class="input-group">
          <input
            name="title"
            type="text"
            value="title"
            class="form-control"
            id="title"
            placeholder="Lenovo ThinkPad Laptop"
            formControlName="title"
          />
          <div
            *ngIf="form.get('title').hasError('pattern')"
            style="width: 100%;
              margin-top: .25rem;
              font-size: 80%;
              color: #dc3545"
          >
            title has invalid characters
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="details">Description</label>
      <textarea
        name="details"
        value="details"
        class="form-control"
        id="details"
        rows="3"
        formControlName="details"
      ></textarea>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="brand">Brand</label>
        <input
          name="brand"
          type="text"
          value="brand"
          class="form-control"
          id="brand"
          placeholder="Lenovo"
          formControlName="brand"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="sku">SKU</label>
        <input
          name="sku"
          type="text"
          value="sku"
          class="form-control"
          id="sku"
          placeholder="CSDLXXXX"
          formControlName="sku"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="category">Category</label>
        <input
          name="category"
          type="text"
          value="category"
          class="form-control"
          id="category"
          placeholder="Laptop"
          formControlName="category"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="price">Price</label>
        <input
          name="price"
          value="price"
          type="text"
          class="form-control"
          id="price"
          placeholder="$$$"
          formControlName="price"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="salesPrice">Sales Price</label>
        <input
          name="salesPrice"
          type="text"
          value="salesPrice"
          class="form-control"
          id="salesPrice"
          placeholder="$$$"
          formControlName="salesPrice"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="quantity">Quantity</label>
        <input
          name="quantity"
          type="text"
          value="quantity"
          class="form-control"
          id="quantity"
          placeholder="###"
          formControlName="quantity"
        />
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Submit
    </button>
  </form>
</div>
