<header>
  <div>{{ productItems | categoryList }}</div>
</header>
<section>
  <div>
    <h1 style="float: left">Products</h1>
    <button
      class="btn btn-success"
      style="position: relative; float: right;"
      routerLink="/new"
    >
      + Add Item
    </button>
    <br style="clear: both;" />
  </div>
  <app-product
    [ngClass]="{
      'in-stock': productItem.quantity > 0,
      'sold-out': productItem.quantity === 0
    }"
    *ngFor="let productItem of productItems"
    [productItem]="productItem"
    (delete)="onProductItemDelete($event)"
  >
  </app-product>
</section>
